#content .chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

#content .timeago {
    font-size: 10px;
}
#content .username {
    display: inline;
}
#content .text {
    display: inline;
}
#content .roomname {
    display: inline;
    font-size: 10px;
}

#content .fullmessage:hover {
    background-color: #ddd;
}

#chatrooms .roomname:hover{
    background-color: #ddd;
}
